@import 'tailwindcss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

.sliderimginner {
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 232, 226);
}
.sliderwrap {
    position: relative;
}



.slidercard {
    display: flex;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
    user-select: none;
    /* 取消選取 */
    align-items: flex-end;
    flex-direction: row-reverse;
    /* 反轉 */
    padding-top: 10%;
    margin-left: -60%;
    transform: translateY(-50px);
    position: relative;
}

.selimg {
    height: 80vh;
    width: 300px;
    position: relative;
    opacity: 0.6;
    transition: opacity 1.2s ease;
}

.selimg.fadein {
    opacity: 1;
}



.nonsel {
    height: 45vh;
    width: 150px;
    cursor: pointer;
    opacity: 0.5;
    overflow: hidden;
}

.nonsel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform 0.5s ease;
}

.nonsel:hover img {
    transform: scale(1);
}

.sliderimg {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.slidertxt {
    position: absolute;
    top: 20vh;
    left: 60%;  /* 從容器左邊算起 */
    width: 300px; /* 固定寬度，避免 flex 撐滿 */
    display: flex;
    flex-direction: column;
}

.slidertxt h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.sliderarrow {
    width: 50px;
    height: 50px;
    color: rgb(98, 154, 243);
    cursor: pointer;
    position: absolute;
    right: 35vw;
    bottom: 10vh;
    z-index: 10;
}